@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    background-color: #121212;
}

.navTel {
    background-color: rgba(0, 0, 0, 0.583);
    backdrop-filter: blur(10px);
}

.bg_gradient {

    background: rgb(26, 102, 124);
    background: radial-gradient(circle, #2a285c 0%, rgba(23, 21, 59, 1) 50%);
}